body {
    background-color: rgb(85, 175, 228);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    padding-left: 2%;
}

main {
    display: flex;
    justify-content: center;
    line-height: 2em;
    background-color: bisque;
}

div {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    padding-left: 2%;
}

.result {
    font-size: x-large;
}